# Byte-compiled / optimized Python files
./pycatch/utils/__pycache__
./pycatch/__pycache__
./__pycache__
__pycache__

# Distribution and build directories
dist/
build/
*.egg-info/

# Caches and logs
.cache/
logs/
