# macOS system files
.DS_Store

# Python cache & compiled files
__pycache__/
*.py[cod]

# Distribution & package build directories
dist/
build/
*.egg-info/

# Sphinx documentation build directory (DO NOT commit output builds)
docs/_build/

# Environments
.venv/
venv/